@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexStart {
  @apply flex items-center justify-start;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.navbar {
  @apply py-5 px-8 border-b border-nav-border gap-4;
}
